.intro {
  background: url('../../../img/intro/intro-bg.png'), #abcbe1;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  // animation: introBg 60s linear infinite;
  box-shadow: inset 0 140px 140px 0 rgba(1, 24, 63, 0.35);

  @media screen and (min-width: 1900px){
    background-size: cover;
  }

  @include breakpoint($laptop) {
    box-shadow: inset 0 120px 120px 0 rgba(1, 24, 63, 0.35);
  }

  @include breakpoint($tablet) {
    box-shadow: inset 0 110px 110px 0 rgba(1, 24, 63, 0.35);
  }

  @include breakpoint($mobile) {
    box-shadow: inset 0 90px 90px 0 rgba(1, 24, 63, 0.35);
  }

  & .container {
    min-height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__content {
    max-width: 70%;
    text-align: right;
  
    @include breakpoint($tablet) {
      max-width: 85%;
    }
  }

  &__title {
    display: inline-block;
    color: $primary-color;
    font-size: 55px;
    letter-spacing: 15px;
    line-height: 75px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0 0 30px;
    transition: transform .7s ease-in;
    transform: translateX(100%);
    opacity: 0;
    visibility: hidden;

    @include breakpoint($laptop) {
      font-size: 42px;
      line-height: 60px;
      letter-spacing: 11px;
    }
  
    @include breakpoint($tablet) {
      font-size: 35px;
      line-height: 50px;
      letter-spacing: 9px;
      margin: 0 0 25px;
    }
  
    @include breakpoint($mobile) {
      font-size: 25px;
      line-height: 40px;
      letter-spacing: 7px;
      margin: 0 0 15px;
    }

    &.animated {
      transform: translateX(0);
      opacity: 1;
      visibility: visible;
    }
  }

  &__subtitle {
    display: block;
    font-size: 24px;
    letter-spacing: 7px;
    color: $primary-color;
    font-weight: 300;
    margin: 0 0 55px;
    transition: transform .7s ease-in;
    transform: translateX(100%);
    opacity: 0;
    visibility: hidden;

    @include breakpoint($laptop) {
      font-size: 22px;
      margin: 0 0 50px;
    }
  
    @include breakpoint($tablet) {
      font-size: 20px;
      margin: 0 0 40px;
      letter-spacing: 6px;
    }
  
    @include breakpoint($mobile) {
      font-size: 18px;
      margin: 0 0 30px;
    }

    &.animated {
      transform: translateX(0);
      opacity: 1;
      visibility: visible;
    }
  }

  &__btn {
    border: 1px solid #9db892;
    display: inline-block;
    padding: 25px 40px;
    max-width: 270px;
    text-transform: uppercase;
    color: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 20px auto;
    font-size: 20px;
    transition: transform .5s ease-in, background-color .2s linear;
    transform: translateX(100%);
    opacity: 0;
    visibility: hidden;

    @include breakpoint($laptop) {
      font-size: 18px;
      padding: 20px 35px;
      max-width: 250px;
    }
  
    @include breakpoint($tablet) {
      font-size: 17px;
      margin: 0 0 15px auto;
      padding: 15px 30px;
      max-width: 230px;
    }
  
    @include breakpoint($mobile) {
      font-size: 15px;
      margin: 0 0 12px auto;
      padding: 10px 25px;
      max-width: 220px;
    }

    &:hover {
      background-color: rgba(157, 184, 146, .5);
    }

    &.animated {
      transform: translateX(0);
      opacity: 1;
      visibility: visible;
    }

    &:after {
      content: '';
      display: block;
      width: 45px;
      height: 2px;
      background-color: $white;

      @include breakpoint($laptop) {
        width: 35px;
      }
    
      @include breakpoint($tablet) {
        width: 25px;
      }
    }
  }

  &__link {
    font-size: 18px;
    letter-spacing: 5px;
    color: $primary-color;
    font-weight: 300;
    transition: transform .5s ease-in, color .2s linear;
    transform: translateX(100%);
    opacity: 0;
    visibility: hidden;

    @include breakpoint($laptop) {
      font-size: 16px;
      letter-spacing: 4px;
    }
  
    @include breakpoint($tablet) {
      font-size: 15px;
    }
  
    @include breakpoint($mobile) {
      font-size: 14px;
      letter-spacing: 3px;
    }

    &:hover {
      color: $light-green;
    }

    &.animated {
      transform: translateX(0);
      opacity: 1;
      visibility: visible;
    }

    & span,
    & i {
      display: inline-block;
    }

    & span {
      margin: 0 20px 0 0;
    }

    & i {
      font-size: 12px;
      animation: introArrow 2s ease-in-out infinite;
    }
  }

  &__text-vertical {
    position: absolute;
    bottom: 0;
    left: 60px;
    font-size: 26px;
    letter-spacing: 2px;
    color: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(50%) rotate(-90deg);
    transform-origin: left;

    @include breakpoint($laptop) {
      font-size: 22px;
      left: 50px;
    }
  
    @include breakpoint($tablet) {
      font-size: 18px;
      left: 40px;
    }
  
    @include breakpoint($mobile) {
      font-size: 14px;
      letter-spacing: 1px;
      left: 30px;
    }

    &::before {
      content: '';
      display: block;
      margin: 0 30px 0 0;
      width: 100px;
      height: 2px;
      background-color: $white;

      @include breakpoint($laptop) {
        margin: 0 25px 0 0;
        width: 80px;
      }
    
      @include breakpoint($tablet) {
        margin: 0 20px 0 0;
        width: 65px;
      }
    
      @include breakpoint($mobile) {
        margin: 0 15px 0 0;
        width: 50px;
      }
    }
  }

  &__scroll {
    display: inline;
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;
    color: $white;
    animation: introScroll 3s ease-in-out 2s infinite;
    animation-play-state: running;
    transition: color .1s linear;

    @include breakpoint($tablet) {
      bottom: 45px;
      font-size: 34px;
    }
  
    @include breakpoint($mobile) {
      bottom: 30px;
      font-size: 28px;
    }

    &:hover {
      color: $light-green;
      animation: introScrollHover 1s ease-in-out infinite;
    }
  }
}