@keyframes introArrow {
  0% {
    transform: translateX(0);
  }
  60% {
    transform: translateX(-15px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes introScroll {
  0% {
    transform: translateX(-50%) rotate(20deg);
  }
  3% {
    transform: translateX(-50%) rotate(-20deg);
  }
  6% {
    transform: translateX(-50%) rotate(20deg);
  }
  9% {
    transform: translateX(-50%) rotate(-20deg);
  }
  12% {
    transform: translateX(-50%) rotate(0);
  }
  20% {
    transform: translateX(-50%) translateY(50%) rotate(0);
  }
  40% {
    transform: translateX(-50%) translateY(0) rotate(0);
  }
  100% {
    transform: translateX(-50%) rotate(0);
  }
}

@keyframes introScrollHover {
  0% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(-15%);
  }
  100% {
    transform: translateX(-50%) translateY(0);
  }
}

@keyframes showFaqText {
  0% {
    font-size: 0;
    line-height: 0;
    transform: scaleY(0);
    visibility: hidden;
    opacity: 0;
  }

  10% {
    font-size: 18px;
    line-height: 40px;
  }

  100% {
    font-size: 18px;
    line-height: 40px;
    transform: scaleY(1);
    visibility: visible;
    opacity: 1;
  }
}

@keyframes hideFaqText {
  0% {
    font-size: 18px;
    line-height: 40px;
    transform: scaleY(1);
    visibility: visible;
    opacity: 1;
  }

  10% {
    transform: scaleY(0);
    visibility: hidden;
    opacity: 0;
  }

  100% {
    font-size: 0;
    line-height: 0;
    transform: scaleY(0);
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes hoverArrowRight {
  0% {
    transform: translateX(0);
  }

  60% {
    transform: translateX(-15%);
  }

  64% {
    transform: translateX(-8%);
  }

  66% {
    transform: translateX(-15%);
  }

  68% {
    transform: translateX(-8%);
  }

  69% {
    transform: translateX(-14%);
  }

  70% {
    transform: translateX(-8%);
  }

  72% {
    transform: translateX(-14%);
  }

  73% {
    transform: translateX(-8%);
  }

  74% {
    transform: translateX(-14%);
  }

  75% {
    transform: translateX(-8%);
  }

  76% {
    transform: translateX(-13%);
  }

  77% {
    transform: translateX(-8%);
  }

  78% {
    transform: translateX(-12%);
  }

  79% {
    transform: translateX(-8%);
  }

  83% {
    transform: translateX(170%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes hoverArrowLeft {
  0% {
    transform: translateX(0);
  }

  60% {
    transform: translateX(15%);
  }

  64% {
    transform: translateX(8%);
  }

  66% {
    transform: translateX(15%);
  }

  68% {
    transform: translateX(8%);
  }

  69% {
    transform: translateX(14%);
  }

  70% {
    transform: translateX(8%);
  }

  72% {
    transform: translateX(14%);
  }

  73% {
    transform: translateX(8%);
  }

  74% {
    transform: translateX(14%);
  }

  75% {
    transform: translateX(8%);
  }

  76% {
    transform: translateX(13%);
  }

  77% {
    transform: translateX(8%);
  }

  78% {
    transform: translateX(12%);
  }

  79% {
    transform: translateX(8%);
  }

  83% {
    transform: translateX(-170%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes headerFixedShow {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes changeSinginModal {
  0% {
    right: 100%;
    left: 0;
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  50% {
    right: 0;
    left: 0;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    right: 0;
    left: 100%;
  }
}