@import './variables';
@import './reset';
@import './typography';
@import './global';
@import './mixins';
@import './animations';

@import './blocks/header';
@import './pages/home/intro';
@import './pages/home/about';
@import './pages/home/products';
@import './blocks/footer';